body {
  max-width: 550px;
  font-family: Verdana, Arial, sans-serif;
  font-size: 14px;
  color: #FFF;
  background-color: #303030;
  text-shadow: #000 0 -1px 1px;
  margin: 0 auto;
}

#auth {
  background-color: #141111;
  padding: 3px;
  font-size: 95%;
}
#progress {
  padding: 10px;
}
#hp {
  color: #FD270B;
  float: right;
}
#mp {
  margin-left: 10px;
  color: #9141BE;
  float: right;
}
#error {
  margin-top: 20px;
  float: center;
}
#foot {
  position: absolute;
  width: 100%;
  max-width: 550px;
  padding: auto 0;
  bottom: 0px;
}

.exp_bar {
  margin-bottom: 0px;
  border-top: #202020 solid 1px;
  background-color: #707070;
  padding: 0;
}

.exp_bar .progress {
  background-color: #66CC66;
  width: 0;
  padding-top: 1px;
  padding-bottom: 1px;
}
.center {
  text-align: center;
  background-color: #141111;
  padding: 3px;
  font-size: 95%;
}